@import "../../../../public/assets/styles/common";

.cart {
    .container .row {
        .cart-content-btn {
            p {
                padding-left: 0;
                font-size: $fontSize-Large;
                text-transform: uppercase;
                font-weight: bold;
                font-family: 'Victormono';
                margin-top: 48px;
                @media screen and (max-width: $breakpointMedium) {
                    margin-top: 28px;
                }
            }
            .cart-btn {
                margin-top: 16px;
                padding: 20px 16px 20px 16px;
                background-color: $backGround-input;
                border-radius: 4px;
                button {
                    border: none;
                    outline: none;
                    border-radius: 3px;
                    height: 40px;
                    padding: 0 12px;
                    
                }
                .go-checkout {
                    background-color: rgba(25, 17, 11, .9);
                    color: white;
                    transition: .2s ease-in-out;
                    border: 1px solid rgba(25, 17, 11, .9);
                    border: 1px solid $Color-1;
                    &:hover {
                        background-color: rgba(25, 17, 11, 1);
                    }
                }
                .continue-shop {
                    background-color: rgba(255,255,255);
                    border: 1px solid $Color-1;
                    color: $Color-1;
                    transition: .2s ease-in-out;
                }
                @media screen and (max-width:$breakpointMedium) {
                    .continue-shop {display: none;}
                    .go-checkout {width: 100%;}
                }
            }
        }
        .cart-detail {
            .cart-table {
                width: 100%;
                thead {
                    tr th {padding: 13px;text-align: center;}
                }
                tbody {
                    tr {
                        td {
                            padding: 13px;
                            vertical-align:top;
                            &:not(:nth-child(2)) {text-align: center;}
                        }
                        .cart-table__image-block {
                            width: 20%;
                            // background-color: white;
                            border-radius: 3px;
                            .image-wrapper {
                                width: 100%;
                                height: 100%;
                                a {
                                    width: 80%;
                                    display: block;
                                    img {width: 100%;height: 100%;object-fit: cover;border-radius: 3px;}
                                }
                            }
                        }
                        .cart-table__description {
                            width: 50%;
                            a {
                                max-width: 90%;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        .cart-table__price {width: 8%;}
                        .cart-table__qty {
                            width: 12%;
                            button,
                            input {
                                outline: none;
                                border: none;
                            }
                            button {
                                color: white;
                                background-color: #19110b;
                                width: 28px;
                                height: 26px;
                                border: 1px solid #19110b;
                                &:first-child {border-radius: 3px 0 0 3px;}
                                &:last-child {border-radius: 0 3px 3px 0;}
                            }
                            input {
                                width: 34px;
                                height: 26px;
                                line-height: 26px;
                                background-color: #f6f5f3;
                                border: none;
                                outline: none;
                                text-align: center;
                            }
                            input::-webkit-outer-spin-button,
                            input::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                            input[type=number] {-moz-appearance: textfield;}
                        }
                        .cart-table__total {width: 8%;}
                        @media screen and (max-width: $breakpointExtraLarge) {
                            .cart-table__description {width: 40%;}
                            .cart-table__qty {width: 22%;}
                        }
                    }
                    tr:nth-child(odd) {background-color: #fff;}
                    tr:nth-child(even) {background-color: #f9f9f9;}
                }
                @media screen and (max-width: $breakpointMedium) {
                    display: block;
                    width: 100%;
                    thead {display: none;}
                    tbody, td {display: block;width: 100%!important;}
                    tr {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        border: 1px solid $border;
                        td {border-bottom: 1px solid $border;}
                        .cart-table__image-block,
                        .cart-table__description,
                        .cart-table__price,
                        .cart-table__qty,
                        .cart-table__total {
                            width: 100%!important;
                        }
                    }
                    tbody {
                        .tr {
                            .cart-table__image-block {
                                .image-wrapper {
                                    a {width: 50%!important;}
                                }
                            }
                            td {
                                text-align: left;
                            }
                        }

                    }
                }
            }
        }
        .cart-total {
            &__wrapper {
                padding: 17px 20px;
                border-radius: 3px;                 
                .cart-total__top {
                    padding: 20px 0;
                    .coupon {
                        p {
                            color: #919191;
                            padding-left: 0;
                        }
                        form {
                            input,
                            button {
                                outline: none;
                                border: none;
                                height: 38px;
                                transition: all .2s ease-in-out;
                            }
                            input {
                                padding: 4px 120px 4px 8px;
                                border: 1px solid #919191;
                                border-right: none;
                                border-radius: 3px 0 0 3px;
                            }
                            button {
                                width: 95px;
                                border-radius: 0 3px 3px 0;
                                border: 1px solid #919191;
                            }
                            &:hover {
                                input {
                                    border: 1px solid $Color-1;
                                    border-right: none;
                                    transition: all .2s ease-in-out;
                                    border-radius: 3px 0 0 3px;
                                }
                                button {
                                    border:1px solid $Color-1;
                                    border-left: 1px solid #919191;
                                    transition: all .2s ease-in-out;
                                    border-radius: 0 3px 3px 0;
                                }
                            }
                        }
                    }
                    .statistic-list {
                        ul {
                            padding-left: 0;
                            li span {color:#919191}
                        }
                    } 
                }
                .cart-total__bottom {
                    text-align: right;
                    padding-top: 20px;
                    .total-title {color: #919191;}
                    .total-value {
                        color: $Color-1;
                        font-size: $fontSize-Large;
                        font-family: "Victormono";
                        font-weight: bold;
                    }
                }
                @media screen and (max-width: $breakpointMedium) {
                    .cart-total__top {
                        flex-direction: column;
                        .coupon {
                            width: 100%;
                            form {
                                width: 100%;
                                input {width: 75%;}
                                button {width: 25%;}
                            }
                        }
                        .statistic-list {
                            width: 100%;
                            ul {
                                li {
                                    margin-bottom: 6px;
                                    text-align: right!important;
                                    &:first-child {
                                        margin-top: 6px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .cart-bottom-btn {
            position: sticky;
            bottom: 0;
            margin-top: 20px;
            margin-bottom: 48px;
            .btn-wrapper {
                background-color: #F6F6F6;
                padding: 15px;
                .btn-left {
                    button {
                        border: none;
                        outline: none;
                        border-radius: 3px;
                        height: 40px;
                        padding: 0 12px;
                        background-color: rgba(255,255,255);
                        border: 1px solid $Color-1;
                        color: $Color-1;
                        transition: .2s ease-in-out;
                    }
                    .continue-shop {margin-right: 12px;}
                }
                .btn-right {
                    .checkout {
                        border: none;
                        outline: none;
                        border-radius: 3px;
                        height: 40px;
                        padding: 0 12px;
                        background-color: rgba(25, 17, 11, .9);
                        color: white;
                        transition: .2s ease-in-out;
                        border: 1px solid rgba(25, 17, 11, .9);
                        border: 1px solid $Color-1;
                        &:hover {
                            background-color: rgba(25, 17, 11, 1);
                        }
                    }
                }
                @media screen and (max-width: $breakpointMedium) {
                    flex-direction: column;
                    gap: 8px;
                    .btn-left {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        button {width: 50%;}
                    }
                    .btn-right {
                        width: 100%;
                        .checkout {width: 100%;}
                    }
                }
            }
        }
    }
}