@use "/public/assets/styles/common" as *;

.settings {
    margin-top: 48px;
    margin-bottom: 48px;
    .container {
        .row {
            .col-dashboard {
                .nav-pills {gap: 8px;}
                .nav-pills .nav-item {
                    a {
                        gap: 12px;
                        font-size: $fontSize-Medium;
                        padding: 8px 12px;
                        border-radius: 3px;
                        cursor: pointer;
                        &:focus,
                        &:hover {
                            background-color: #F6F6F6!important;
                        }
                        svg {
                            stroke: $Color-1;
                            width: 22px;
                            height: 22px;
                        }
                        color: $Color-1;
                        &:focus,
                        &:hover {background-color: none;}
                    }
                    a.active {
                        background-color: #F6F6F6!important;
                    }
                }
            }
            .col-main {
                .tab-content .account-heading {
                    p {
                        font-size: 29px;
                        font-family: "Victormono";
                        font-weight: bold;
                        margin-bottom: 6px;
                    }
                    margin-bottom: 28px;
                }
                .tab-content .account-form .password-wrapper {
                    border-radius: 4px;
                    padding: 20px;
                    background-color: #F6F5F3;
                    .heading {
                        font-size: $fontSize-Large;
                        font-weight: bold;
                    }
                    .item-form .label-name {color: $Color-1;margin-bottom: 4px;}
                    .item-form {margin-bottom: 10px;}
                }
                .tab-content .account-form button {
                    border: none;
                    outline: none;
                    border-radius: 3px;
                    padding: 6px 12px;
                    background-color: rgba(25, 17, 11, .9);
                    color: white;
                    width: 135.88px;
                    font-weight: bold;
                    &:hover {background-color: rgba(25, 17, 11, 1)}
                }
                .tab-content .account-form form {gap: 24px;}
                .tab-content .address-heading {
                    p {
                        font-size: 29px;
                        font-family: "Victormono";
                        font-weight: bold;
                        margin-bottom: 6px;
                    }
                    margin-bottom: 28px;
                }
                .tab-content .address-form {
                    p {
                        font-size: $fontSize-Medium;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    .billingAddress {
                        .form-wrapper {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-rows: auto auto;
                            gap: 8px;
                            .item-form {
                                &:nth-child(3),
                                &:nth-child(4) {
                                    grid-column: 1 / span 2;
                                }
                            }
                        }
                        margin-bottom: 52px;
                    }
                    .shippingAddress {
                        .item-form {margin-bottom: 8px;}
                    }
                }
            }
            @media screen and (max-width: $breakpointExtraLarge) {
                .col-dashboard {margin-bottom: 24px;}
            }
            @media screen and (max-width: $breakpointMedium) {
                .col-main .tab-content .account-form form {gap: 14px;}
            }
        }
    }
}