@import "../../../../public/assets/styles/common";

.detail-product {
    margin: 48px 0;

    .container {
        .row {
            .custom-col:nth-child(1) {
                div {
                    img {
                        width: 100%;
                        height: 628px;
                        border-radius: 3px;
                        @media screen and (max-width: $breakpointExtraLarge) {
                            height: 474.67px;
                        }
                        @media screen and (max-width: $breakpointLarge) {
                            height: 928px;
                        }
                        @media screen and (max-width: $breakpointMedium) {
                            height: 688px;
                        }
                        @media screen and (max-width: $breakpointSmall) {
                            height: 734.67px;
                        }
                        @media screen and (max-width: $breakpointSSmal) {}
                    }
                }
            }

            .custom-col:nth-child(2) {
                padding-left: 18px;

                p {
                    font-size: $fontSize-XX_Large;
                    font-weight: bold;
                    padding-bottom: 18px;
                    font-family: "Victormono";
                    @media screen and (max-width: $breakpointLarge) {
                        padding-top: 18px;
                    }
                    
                }

                a {
                    margin: 16px 0;
                }

                section {
                    padding-bottom: 16px;
                    border-bottom: 1px solid #dee2e6;
                    width: 100%;

                    form {
                        padding-right: 14px;
                    } 

                    .add-to-cart {
                        margin-right: 14px;
                        width: 143px;
                        text-transform: uppercase;

                        &:hover {
                            span {color: white;}
                        }
                    }
                }

                form {
                    input {
                        width: 42px;
                        height: 42px;
                        text-align: center;
                        outline: none;
                        border: none;
                        background-color: #f6f5f3;
                    }

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }


                    button {
                        outline: none;
                        border: none;
                        color: white;
                        background-color: $Color-1;
                        width: 42px;
                        height: 42px;
                        border: 1px solid $Color-1;
    
                        &:first-child {
                            border-radius: 2px 0 0 2px;
                        }
    
                        &:last-child {
                            border-radius: 2px 0 0 2px;
                        }
                    }
                }

                .button-cart {
                    padding-bottom: 26px;
                    border-bottom: 1px solid #dee2e6;
                }

                .preview-item__detail {
                    padding-left: 0;
                    width: 100%;

                    li {
                        margin-bottom: 6px;

                        span {
                            &:first-child {
                                color: #161619;
                                opacity: 0.8;
                            }
                        }

                        &:first-child {
                            padding: 18px 0;
                            border-top: 1px solid #dee2e6;
                            border-bottom: 1px solid #dee2e6;

                            span {
                                font-size: 32px;
                                font-weight: bold;
                            }
                        }

                        &:nth-child(2) {
                            padding-top: 18px;

                            span {
                                &:first-child {
                                    color: #161619;
                                    opacity: 0.8;
                                }
                            }
                        }

                        &:last-child {
                            padding-bottom: 18px;
                            margin-bottom: 0;

                            span {
                                &:first-child {
                                    color: #161619;
                                    opacity: 0.8;
                                }
                            }
                        }
                    }
                }

                .sharing {
                   padding-left: 0;
                   padding-top: 18px;
                   padding-bottom: 18px;
                   
                   li {
                        margin-right: 8px;
                        &:first-child {
                            color: #161619;
                            opacity: 0.8;

                            span {font-size: $fontSize-Light;}
                        }

                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                            width: 42px;
                            height: 42px;
                            border-radius: 2px;
                            cursor: pointer;
                            transition: 0.3s ease-in-out;

                            svg {
                                fill: $Color-1;
                                opacity: 0.6;
                            }

                            &:hover {
                                background: #dee2e6;
                                transition: 0.3s ease-in-out;
                            }
                        }
                   }
                }

                .icon {
                    height: 42px;
                    border-radius: 2px;
                    background-color: #f6f5f3;
                    cursor: pointer;
                    margin:0 12px;
                    svg {
                        fill: $Color-1;
                    }
                    span {
                        text-transform: uppercase;
                        padding: 0 12px;
                    }
                }

                .add-to-fav {
                    width: 45px;
                    margin-left: 0;
                    &:hover {
                        svg {
                            fill: white;
                        }
                    }
                }

                .add-to-cart {
                    margin-right: 14px;
                    width: 143px;
                    text-transform: uppercase;
                    &:hover {
                        span {color: white;}
                    }
                }

                .send-email {
                    span {
                        font-size: $fontSize-Light;
                        color: $Color-1;
                        opacity: 0.8;
                        cursor: pointer;

                        svg {
                            fill: $Color-1;
                            opacity: 0.8;
                        }

                        &:hover {
                            opacity: 1;

                            svg {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.navs-and-tabs {
    .container > .row > .col {
        .nav-item {
            cursor: pointer;
            .nav-link {
                color: $Color-1;
            }
        }
    }
}

.more-info {
    .container {
        .tabs {
            display: none;
            .row > .col > p {
                padding: 16px 0;
            }
        }

        .tabs.active {
            display: block;
        }
    }
}

.related-product {
    .container {
        .row:first-child {
            padding-top: 48px;
            padding-bottom: 16px;

            p {
                font-size: $fontSize-Large;
                font-family: "Victormono";
                font-weight: bold;
            }
        }

        .row:last-child {
            padding-bottom: 48px;
            .col {
                gap: 16px;
            }
        }
    }
}


// Skeleton Loading 
.skeleton-detail-product {
    margin: 48px 0;
    .container {
        .row {
            .custom-col:nth-child(1) {
                div {
                    .skeleton-img-detail {
                        width: 100%;
                        height: 628px;
                        border-radius: 3px;
                    }
                }
            }

            .custom-col:nth-child(2) {
                padding-left: 18px;

                .skeleton-name-detail {
                    height: 56.98px;
                    width: 100%;
                    padding-bottom: 20px;
                    .custom-skeleton {
                        height: 100%;
                    }
                }

                .preview-item__detail {
                    padding-left: 0;
                    li:nth-child(n+2) {
                        padding-top: 10px;
                    }

                    .skeleton-price-detail {
                        height: 86.18px;
                        border-top: 1px solid #dee2e6;
                        border-bottom: 1px solid #dee2e6;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        line-height: 100%;
                        span {
                            width: 100%;
                            height: 30.18px;
                        }
                    }
                    .skeleton-publisther-detail {
                        margin-top: 18px;
                        padding-top: 0;
                    }
                }

                .button-cart {
                    padding-top: 10px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #dee2e6;
                    .btn-quantity {
                        height: 42.11px;
                        margin-right: 14px;
                        .skeleton-quantity-custom {
                            width: 139.96px;
                            height: 100%;
                        }
                    }

                    .btn-add-cart {
                        height: 42.11px;
                        margin-right: 14px;
                        .skeleton-addtocart-custom {
                            width: 133.98px;
                            height: 100%;
                        }
                    }

                    .btn-add-fav {
                        height: 42.11px;
                        .skeleton-addtofav-custom {
                            width: 42.11px;
                            height: 42.11px;
                        }
                    }
                }

                .sharing {
                    padding-left: 0;
                    height: 77.97px;
                    padding: 18px 0;
                    .text {
                        width: 46.19px;
                        height: 16.25px;
                        margin-right: 10px;
                    }

                    .icon {
                        width: 42.11px;
                        height: 42.11px;
                        margin-right: 8px;
                        .custom-icon {
                            width: 100%;
                            height: 100%;
                        }   
                    }
                }

                .send-email {
                    width: 100%;
                    height: 21px;
                }
            }
        }
    }
}

.skeleton-navs-and-tabs {
    .container > .row > .col {
        .custom-navsandtabs {
            height: 28px;
        }
    }
}

.skeleton-more-info {
    .container > .row > .col {
        div {
            height: 300px;
            padding: 24px 0;
            .custom-moreinfo {
                width: 100%;
                height: 100%;
            }
        } 
    }
}