@use "/public/assets/styles/common" as *;

.hasClicked {
    color: $Color-1 !important;
    text-decoration: underline !important;
    opacity: 1 !important;
}

.accordion {
    width: 100%;
    .accordion-item {
        width: 100%;

        &:first-of-type {
            border-top-left-radius: 3px !important;
            border-top-right-radius: 3px !important;

            .accordion-button {
                border-top-left-radius: 3px !important;
                border-top-right-radius: 3px !important;
                color: rgb(25, 17, 11, 0.7) !important;

                &:not(.collapsed) {
                    color: $Color-1 !important;
                    background-color: white;
                }
            }
        }
        &:last-of-type {
            border-bottom-left-radius: 3px !important;
            border-bottom-right-radius: 3px !important;
        }
        .accordion-button {
            color: rgb(25, 17, 11, 0.7) !important;
            font-family: "Victormono";
            font-weight: bold;
            font-size: $fontSize-Light;
            outline: none;
            box-shadow: none;

            &:not(.collapsed) {
                color: $Color-1 !important;
                background-color: white;
            }
        }
    }
    .accordion-body {
        border: none;
        form {
            width: 100%;
            input {
                padding: 8px;
                margin-bottom: 12px;
                width: 100%;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }
            button {
                outline: none;
                border: none;
                background-color: #19110b;
                color: white;
                padding: 8px 16px;
                border-radius: 2px;
            }
        }
        ul {
            padding-left: 0;

            li {
                color: $Color-1;
                font-size: $fontSize-Medium;
                cursor: pointer;
                padding-bottom: 8px;
                text-transform: capitalize;
                &:hover {
                    opacity: 1;
                    transition: 0.2s ease-in-out;
                }
                @media screen and (max-width: $breakpointSmall) {
                    font-size: $fontSize-Light;
                }
            }

            li > label {
                display: flex;

                input {
                    margin-right: 8px;
                    width: 8%;
                }
            }
        }
        @media screen and (max-width: $breakpointSmall) {
            form {
                input {
                    font-size: $fontSize-Light;
                }
            }
            button {
                font-size: $fontSize-Light;
            }
        }
    }
}
