@import "../../../../public/assets/styles/common";

.shop {
    .container {
        .row:nth-child(1) {
            padding-top: 48px;
            padding-bottom: 24px;
            p {
                font-size: $fontSize-XX-Large;
                font-family: "Victormono";
                font-weight: bold;
                padding-bottom: 8px;
            }
            @media screen and (max-width: $breakpointSmall) {
                padding-top: 12px;
                padding-bottom: 12px;
                p {
                    padding-bottom: 0;
                }
            }
        }
        // .row:nth-child(2) {}
    }
}