@import "../../../../public/assets/styles/common";

.wrapperBlogDetail {
    gap: calc(0.625rem * 2);
    width: 100%;
    max-width: calc(750px);
    margin: 0 auto;
}

.blog {
    .container {
        .row:first-child {
            padding-top: 48px;
            padding-bottom: 24px;

            .col > p {
                font-size: $fontSize-XX_Large;
                font-family: "Victormono";
                font-weight: bold;
                padding-bottom: 8px;
            }

            .col > span {
                color: $Color-2;
                opacity: 0.8;
            }
        }

        .row:last-child {
            padding-bottom: 48px;

            .sidebar {
                .accordion {
                    width: 100%;

                    .accordion-item {
                        width: 100%;

                        &:first-of-type {
                            border-top-left-radius: 3px !important;
                            border-top-right-radius: 3px !important;

                            .accordion-button {
                                border-top-left-radius: 3px !important;
                                border-top-right-radius: 3px !important;
                                color: rgb(25, 17, 11, 0.7) !important;

                                &:not(.collapsed) {
                                    color: $Color-1 !important;
                                    background-color: white;
                                }
                            }
                        }

                        &:last-of-type {
                            border-bottom-left-radius: 3px !important;
                            border-bottom-right-radius: 3px !important;
                        }

                        .accordion-button {
                            color: rgb(25, 17, 11, 0.7) !important;
                            font-family: "Victormono";
                            font-weight: bold;
                            font-size: $fontSize-Light;
                            outline: none;
                            box-shadow: none;

                            &:not(.collapsed) {
                                color: $Color-1 !important;
                                background-color: white;
                            }
                        }
                    }

                    .accordion-body {
                        border: none;

                        form {
                            width: 100%;
                        }

                        .icon-search {
                            width: 15%;
                            height: 45px;
                            border: none;
                            outline: none;
                            background-color: #f6f5f3;
                            border-radius: 2px 0 0 2px;

                            .icon {
                                stroke: $Color-3;
                                width: 18px !important;
                                height: 18px !important;
                            }

                            .icon.active-icon {
                                stroke: $Color-1;
                            }
                        }

                        input {
                            width: 85%;
                            height: 45px;
                            border: none;
                            outline: none;
                            background-color: #f6f5f3;
                            border-radius: 0 2px 2px 0;
                        }

                        .recent-post-blog {
                            padding-left: 0;

                            li {
                                padding: 14px 0;
                                cursor: pointer;
                                border-bottom: 1px solid $border;

                                &:last-child {
                                    border: none;
                                }
                            }
                        }

                        .categories-blog {
                            padding-left: 0;

                            li {
                                padding: 14px 0;
                                cursor: pointer;
                                border-bottom: 1px solid $border;

                                &:last-child {
                                    border: none;
                                }
                            }
                        }

                        .tags {
                            width: 100%;
                            overflow: hidden;

                            a {
                                padding: 3px 8px;
                                font-size: $fontSize-Light;
                                border-radius: 3px;
                                background-color: $border;
                                margin: 5px 5px 3px 0;
                            }
                        }
                    }
                }
            }

            .post {
                .post-thumbnail {
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    transition: 0.3s ease-in-out;
                    cursor: pointer;
                    position: relative;

                    &:hover {
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                            rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                        transition: 0.3s ease-in-out;
                    }

                    img {
                        width: 339px;
                        height: 254.25px;
                        border-radius: 3px;
                        object-fit: cover;
                    }

                    iframe {
                        border-radius: 3px;
                    }

                    .type {
                        position: absolute;
                        top: 5%;
                        left: 4%;
                        width: 42px;
                        height: 42px;
                        background-color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 3px;
                        opacity: 1;
                        visibility: visible;
                        transition: 0.3s ease-in-out;
                    }

                    &:hover {
                        .type {
                            opacity: 0;
                            visibility: hidden;
                            transition: 0.3s ease-in-out;
                        }
                    }
                }

                .post-detail {
                    padding-left: 18px;

                    ul {
                        padding-left: 0;
                    }

                    ul > li {
                        &:first-child > a {
                            font-family: "Victormono";
                            font-weight: bold;
                            font-size: $fontSize-Large;
                        }

                        &:nth-child(2) {
                            padding: 16px 0;

                            a {
                                font-size: $fontSize-Light;
                            }
                        }

                        &:nth-child(3),
                        &:nth-child(4) {
                            a {
                                font-size: $fontSize-Light;
                                text-transform: uppercase;
                                color: $Color-2;
                            }
                        }
                    }
                }

                .custom-col {
                    padding-bottom: 24px;
                }

                @media screen and (max-width: $breakpointMedium) {
                    .product-post > .custom-col {
                        flex-direction: column;
                        margin: 18px 0;

                        &:first-child {
                            margin-top: 48px;
                        }

                        .post-thumbnail > img {
                            width: 100%;
                        }

                        .post-thumbnail > iframe {
                            width: 100%;
                        }

                        .post-detail {
                            padding-left: 0;

                            ul > li {
                                &:first-child {
                                    padding-top: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.blogDetail {
    margin-top: 48px;
    margin-bottom: 48px;
    @media screen and (max-width: $breakpointMedium) {
        margin-bottom: 28px;
    }
    @media screen and (max-width: $breakpointSmall) {
        margin-top: 16px;
    }
    .container {
        .row {
            .blogDetail__img {
                .imgWrapper {
                    background-color: white;
                    width: 100%;
                    height: 729px;
                    overflow: hidden;
                    border-radius: 4px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                margin-bottom: 40px;

                @media screen and (max-width: $breakpointEELarge) {
                    .imgWrapper {
                        height: 627.75px;
                    }
                }
                @media screen and (max-width: $breakpointExtraLarge) {
                    .imgWrapper {
                        height: 526.50px;
                    }
                }
                @media screen and (max-width: $breakpointLarge) {
                    .imgWrapper {
                        height:514.50px;
                    }
                }
                @media screen and (max-width:$breakpointMedium) {
                    margin-bottom: 28px;
                    .imgWrapper {
                        height: 387px;
                    }
                }
                @media screen and (max-width:$breakpointSmall) {
                    margin-bottom: 16px;
                }
            }

            .blogDetail__content {
                &-title {
                    gap: 12px;
                    margin-bottom: calc(0.625rem * 2);

                    .header {
                        font-family: "Victormono";
                        font-size: $fontSize-XX_Large;
                        @media screen and (max-width:$breakpointMedium) {
                            font-size: $fontSize-X_Large;
                        }
                        @media screen and (max-width:$breakpointSmall) {
                            font-size: $fontSize-Large;
                        }
                    }

                    .date {
                        gap: 4px;
                        text-transform: uppercase;
                        span {
                            @media screen and (max-width: $breakpointMedium) {
                                font-size: $fontSize-Light;
                            }
                        }
                    }

                    .title {
                        @media screen and (max-width: $breakpointMedium) {
                            font-size: $fontSize-Light;
                        }
                    }
                }

                &-list {
                    gap: calc(0.625rem * 2);
                    .list-item {
                        gap: $fontSize-Light !important;
                        .itemLibrary {
                            gap: 12px;
                        }
                        @media screen and (max-width: $breakpointMedium) {
                            .itemTitle {
                                font-size: $fontSize-Large;
                            }
                            .itemDescription {
                                font-size: $fontSize-Light;
                            }
                            .itemLibrary {
                                gap: 0px;
                                p:not(.title) {
                                    font-size: $fontSize-Light;
                                }
                            }
                        }
                    }
                }
            }

            .blogDetail__sharing {
                padding-top: 48px;
                .share-title span {
                    font-size: $fontSize-Large;
                }
                .network-list {
                    padding-left: 0;
                    margin-bottom: 0;
                    gap: 12px;
                    li {
                        position: relative;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                        &::after {
                            content: "";
                            position: absolute;
                            width: 0%;
                            height: 50%;
                            background-color: black;
                            opacity: 0.1;
                            top: 50%;
                            left: 0;
                            transition: all 0.2s ease-in-out;
                        }

                        &:hover::after {
                            width: 100%;
                            transition: all 0.2s ease-in-out;
                        }
                    }
                }
                @media screen and (max-width: $breakpointMedium) {
                    padding-top: 28px;
                    .network-list {
                        flex-wrap: wrap;
                        li {
                            font-size: $fontSize-Light;
                        }
                    }
                }
            }
        }
    }
}

.blogDetailComment {
    width: 100%;
    padding: 40px 0;
    background-color: #f3f0ef;
    .container {
        .row {
            .titleWrapper {
                h2 {
                    font-family: 'Victormono';
                }
            }
            .listWrapper {
                gap: 38px;
                .comment {
                    gap: 16px;
                    .commentAva {
                        background-color: red;
                        width: 8%;
                        height: 100%;
                        border-radius: 50%;
                        overflow: hidden;
                        .ava-placeholder {
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .commentDetails {
                        width: 92%;
                        @media screen and (max-width: $breakpointMedium) {
                            .description {
                                font-size: $fontSize-Light;
                            }
                        }
                        .name {
                            font-size: 18px;
                            font-weight: bold;
                        }
                        .date {
                            margin-bottom: 8px;
                            font-size: $fontSize-Light;
                        }
                    }
                }
            }
        }
    }
}

.blogDetailAddCmt {
    .container {
        .row {
            .commentRespond {
                .reply-title {
                    padding-top: 48px;
                    padding-bottom: 28px;
                    .title {
                        font-family: 'Victormono';
                    }
                }
            }
            .reply-form {
                display: flex;
                flex-wrap: wrap;
                .reply-form-comment {
                    flex-basis: 100%;
                    .textarea-reply {
                        height: 100px;
                        padding: 8px 10px;
                        @extend .inputClassFocusHv;
                        font-size: $fontSize-Light;
                    }
                }
                .reply-form-name {
                    flex: 1;
                    .inputname-reply {
                        padding: 8px 10px;
                        height: 40px;
                        @extend .inputClassFocusHv;
                        font-size: $fontSize-Light;
                    }
                }
                .reply-form-email {
                    flex: 1;
                    .inputemail-reply {
                        padding: 8px 10px;
                        height: 40px;
                        @extend .inputClassFocusHv;
                        font-size: $fontSize-Light;
                    }

                }
                .buttonSubmit {
                    flex-basis: 100%;
                    padding-bottom: 48px;
                    button {
                        border: none;
                        outline: none;
                        padding: 8px 12px;
                        color: $backGround-input;
                        border-radius: 4px;
                        background-color: rgb(25, 17, 11, 0.9);
                        transition: 0.2 ease-in-out;
                        &:hover {
                            transition: 0.2s ease-in-out;
                            background-color: rgb(25, 17, 11, 1);
                        }
                    }
                }
            }
        }
    }
}